distill-header {
    position: relative;
    height: 60px;
    background-color: hsl(200, 60%, 15%);
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

distill-header .content {
    height: 70px;
    grid-column: page;
}

distill-header a {
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    padding: 22px 0;
}

distill-header a:hover {
    color: rgba(255, 255, 255, 1);
}

distill-header svg {
    width: 24px;
    position: relative;
    top: 4px;
    margin-right: 2px;
}

@media(min-width: 1080px) {
    distill-header {
        height: 70px;
    }

    distill-header a {
        height: 70px;
        line-height: 70px;
        padding: 28px 0;
    }

    distill-header .logo {}
}

distill-header svg path {
    fill: none;
    stroke: rgba(255, 255, 255, 0.8);
    stroke-width: 3px;
}

distill-header .logo {
    font-size: 17px;
    font-weight: 200;
}

distill-header .nav {
    float: right;
    font-weight: 300;
}

distill-header .nav a {
    font-size: 12px;
    margin-left: 24px;
    text-transform: uppercase;
}

distill-header svg {
    width: 24px;
    position: relative;
    top: 4px;
    margin-right: 2px;
}

img {
    float: left;
    margin: 10px;
}

#user_feature tr:nth-child(5) td:nth-child(2) {
    background-color: #fadf7f
}

#user_feature tr:nth-child(5) td:nth-child(3) {
    background-color: #68EDC6
}

#comedySlider {
    background: #68EDC6;
}

#left_caption_CF {
    padding-top: 2px;
    align-self: flex-end;
}

#left_caption_CB {
    padding-top: 2px;
    align-self: flex-end;
}

.centered {
    text-align: center;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.example {
    background-color: #f2efef;
    border-radius: 10px;
}

.example_text {
    margin-left: 10px;
    margin-right: 10px;
}

.user_table {
    width: 90%;
    margin-left: 10px;
}

.item_table {
    width: 90%;
    margin-left: 10px;
}

.rec_table {
    width: 90%;
    margin-left: 10px;

}

.MF_button {
    margin-left: 10px;
    margin-right: 5px;
    background-color: white;
    border-radius: 10px;
}

.occupation {
    margin-left: 10px;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.autocomplete-items {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

input[type=text] {
    background-color: #f1f1f1;
}