/* colour palette: //https://coolors.co/392d32-c97064-f6a720-678d58-8eb5cd */
distill-header {
    position: relative;
    height: 60px;
    background-color: hsl(200, 60%, 15%);
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

distill-header .content {
    height: 70px;
    grid-column: page;
}

distill-header a {
    font-size: 16px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    padding: 22px 0;
}

distill-header a:hover {
    color: rgba(255, 255, 255, 1);
}

distill-header svg {
    width: 24px;
    position: relative;
    top: 4px;
    margin-right: 2px;
}

@media(min-width: 1080px) {
    distill-header {
        height: 70px;
    }

    distill-header a {
        height: 70px;
        line-height: 70px;
        padding: 28px 0;
    }



}

distill-header svg path {
    fill: none;
    stroke: rgba(255, 255, 255, 0.8);
    stroke-width: 3px;
}

distill-header .logo {
    font-size: 17px;
    font-weight: 200;
}

distill-header .nav {
    float: right;
    font-weight: 300;
}

distill-header .nav a {
    font-size: 12px;
    margin-left: 24px;
    text-transform: uppercase;
}

distill-header svg {
    width: 24px;
    position: relative;
    top: 4px;
    margin-right: 2px;
}

img {
    float: left;
    margin: 10px;
}

#parent #parent2 #parent3 #parent4 #parent5 #parent6 #parent7 {
    display: none;
}

#popup #popup2 #popup3 #popup4 #popup5 #popup6 #popup7 {
    display: none;
}

#parent:hover #popup {
    display: block;
    font-size: 1rem;
    text-align: left;
    line-height: 1.2rem;
    margin-left: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

#parent2:hover #popup2 {
    display: block;
    text-align: left;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-left: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

#parent3:hover #popup3 {
    display: block;
    text-align: left;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-left: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

#parent4:hover #popup4 {
    display: block;
    text-align: left;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-left: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

#parent5:hover #popup5 {
    display: block;
    text-align: left;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-left: 10px;
}

#parent6:hover #popup6 {
    display: block;
    text-align: left;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-left: 10px;
    padding-bottom: 10px;
}

#parent7:hover #popup7 {
    display: block;
    text-align: left;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-left: 10px;
    padding-bottom: 10px;
}


#user_feature tr:nth-child(5) {
    background-color: rgba(142, 181, 205, 0.5)
}

#matrix_factorization tr:nth-child(6) {
    background-color: rgba(142, 181, 205, 0.5)
}


#comedySlider {
    background: #8EB5CD;
}

#left_caption_CF {
    padding-top: 30px;
    align-self: flex-end;
}

#left_caption_CB {
    padding-top: 100px;
    align-self: flex-end;
}

.centered {
    text-align: center;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.column-text {
    flex: 50%;
    margin-right: 30px;
}

.column-rs {
    flex: 50%;
    text-align: center;
}

.column-umatrix {
    flex: 50%;
    margin-top: 23px;
}

.column-rmatrix-text {
    flex: 50%;
    margin-left: 110px;
}


.column-umatrix-text {
    flex: 50%;
    margin-left: 80px;
}

.column-imatrix {
    flex: 50%;
    margin-top: 27px;
    margin-right: 20px;
}

.column-imatrix-text {
    flex: 50%;
    margin-left: 20px;
}

.column-rs-rmatrix {
    flex: 50%;
    text-align: center;
    margin-left: 60px;
}

.column-rs-umatrix {
    flex: 50%;
    text-align: center;
    margin-left: 50px;
}

.column-rs-imatrix {
    flex: 50%;
    text-align: center;
    margin-right: 20px;
}

.column-rs-cloud {
    text-align: center;
    flex: 50%;
    margin-top: 20px;
}

.example {
    background-color: rgba(57, 45, 50, 0.03);
    border-radius: 10px;
}

.example-rs {
    background-color: rgba(57, 45, 50, 0.03);
    border-radius: 10px;
}

.example_text {
    color: #392d32;
    margin-left: 10px;
    margin-right: 10px;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

/* td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
} */

.user_table {
    width: 90%;
    margin-left: 10px;
}

.item_table {
    width: 90%;
    margin-left: 10px;
}

.rec_table {
    width: 90%;
    margin-left: 10px;

}

.MF_button {
    
    margin-right: 25%;
    margin-left: 25%;
}

.mdc-button .mdc-button--raised{
    background-color: rgba(142, 181, 205, 1);
    
}
:root {
    --mdc-theme-primary: #3176D6 
}
.quote {
    margin-left: 30px;
}